:root[data-mode="dark"],
:root[data-mode="system"] {
	--body-bg: hsl(var(--primary-color-hue), 80%, 2%);
	--body-txt-color: #b3b3b3;
	--body-txt-color-strong: hsl(0, 0%, 90%);
	--body-link-color: hsl(var(--primary-color-hue), 35%, 55%);
	--mode-icon-content: "\f186";
	--mode-icon-color: hsl(40, 45%, 65%);
	--input-bg: hsl(var(--primary-color-hue), 50%, 8%);
	--input-bg-disabled: #d9d9d9;
	--input-border-color: hsl(var(--primary-color-hue), 55%, 15%);
	--input-shadow-color: rgba(0, 0, 0, 0.4);
	--input-txt-color: #e6e6e6;
	--input-accent-color: hsl(var(--primary-color-hue), 65%, 15%);
	--header-bg: #0d0d0d;
	--logo-bg-hover: #0d0d0d;
	--footer-bg: hsl(var(--primary-color-hue), 60%, 10%);
	--newbutton-bg: linear-gradient(to top, var(--catbg-txt-color), var(--buttonlist-bg-active));
	--nav-shadow-color: rgba(170, 170, 170, 0.1);
	--nav-dropdown-border-color: hsl(0, 0%, 1%);
	--nav-dropdown-bg: #0f0f0f;
	--nav-item-txt-color: hsl(0, 0%, 45%);
	--nav-item-bg: #1a1a1a;
	--nav-item-bg-hover: hsl(0, 0%, 7%);
	--nav-item-txt-color: #d9d9d9;
	--nav-item-txt-color-hover: #a6a6a6;
	--nav-dropdown-item-txt-color: #a6a6a6;
	--catbg-bg: #121212;
	--titlebg-txt-color: hsl(var(--primary-color-hue), 35%, 85%);
	--content-section-bg: hsl(var(--primary-color-hue), 15%, 5%);
	--uppersection-bg: hsl(var(--primary-color-hue), 100%, 12%);
	--forumsections-bg: linear-gradient(hsl(var(--primary-color-hue), 25%, 8%) 0, var(--content-section-bg));
	--forumnews-bg: hsl(var(--primary-color-hue), 40%, 8%);
	--forumnews-bg-inactive: hsl(var(--primary-color-hue), 50%, 3%);
	--windowbg-bg: #151515;
	--windowbg2-bg: #111111;
	--windowbg-bg-target: hsl(var(--primary-color-hue), 25%, 15%);
	--windowbg-shadow: 0px 1px 1px 0px rgba(105, 105, 105, 0.1) inset, 0px -1px 1px 0px rgba(105, 105, 105, 0.1) inset;
	--boardmoderators-bg: #252525;
	--boarddescription-bg: #181818;
	--subboards-bg: #222222;
	--themetab-item-txt-color: hsl(var(--primary-color-hue), 10%, 40%);
	--status-sticky-bg: hsl(var(--primary-color-hue), 30%, 12%);
	--status-locked-bg: hsl(var(--primary-color-hue), 25%, 5%);
	--status-approve-bg: hsl(6, 55%, 15%);
	--status-approvet-bg: hsl(0, 65%, 20%);
	--buttonlist-bg: hsl(var(--primary-color-hue), 15%, 10%);
	--buttonlist-bg-hover: hsl(var(--primary-color-hue), 15%, 20%);
	--buttonlist-bg-active: hsl(var(--primary-color-hue), 40%, 20%);;
	--buttonlist-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
	--buttonlist-border-color: hsl(var(--primary-color-hue), 35%, 15%);
	--buttonlist-border-color-hover: hsl(var(--primary-color-hue), 45%, 15%);
	--buttonlist-border-color-active: hsl(var(--primary-color-hue), 75%, 15%);
	--buttonlist-txt-color: #d9d9d9;
	--buttonlist-txt-color-hover: #bfbfbf;
	--buttonlist-txt-color-active: #e6e6e6;
	--buttonlist-txt-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	--linktree-li-before-border-color: rgba(255, 255, 255, 0.1);
	--sceditor-group-bg: linear-gradient(to bottom, hsl(var(--primary-color-hue), 100%, 7%) 0%, hsl(var(--primary-color-hue), 90%, 15%) 100%);
	--sceditor-group-bg-active: hsl(var(--primary-color-hue), 25%, 20%);
	--sceditor-group-border-color: hsl(var(--primary-color-hue), 50%, 35%);
	--noticebox-bg: hsl(50, 25%, 25%);
	--noticebox-border-color: hsl(48, 100%, 40%);
	--errorbox-bg: hsl(0, 25%, 25%);
	--noticebox-txt-color: hsl(0, 0%, 75%);
	--errorbox-border-color: hsl(0, 100%, 40%);
	--infobox-bg: hsl(120, 25%, 25%);
	--infobox-border-color: hsl(120, 100%, 40%);
	--table-border-color: hsl(var(--primary-color-hue), 25%, 12%);
	--amt-bg: hsl(var(--primary-color-hue), 0%, 70%);
	--poster-bg: hsl(var(--primary-color-hue), 12%, 9%);
	--quote-bg: hsl(var(--primary-color-hue), 10%, 15%);
	--qutoe-alternate-bg: hsl(var(--primary-color-hue), 10%, 25%);
	--code-bg: hsl(var(--primary-color-hue), 15%, 12%);
	--alert-bg: hsl(var(--primary-color-hue), 25%, 10%);
	--alert-bg-hover: hsl(var(--primary-color-hue), 15%, 13%);
	--alert-border-color: hsl(var(--primary-color-hue), 25%, 15%);
	--topbar-txt-color-hover: #ffffff;
	--topbar-shadow-color: rgba(0, 0, 0, 0.15);
	--forumsections-shadow-color: rgba(0, 0, 0, 0.1);
	--amt-bg: #ffffff;
	--amt-txt-color: #000000;
	--catbg-txt-color: hsl(var(--primary-color-hue), 70%, 55%);
}

:root[data-mode="system"] {
	--mode-icon-content: "\e4e5";
	--mode-icon-color: inherit;
}